@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: #071029; /* fallback */
  color: white;
}

.bg-login {
  background-image: url('/fundo-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay {
  background: linear-gradient(180deg, rgba(2,6,23,0.65), rgba(2,6,23,0.60));
}
